*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-image: url("backimage.jpg");
}
.container{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: aqua;
	width: 450px;
	height: 550px;
	border-radius: 10px;
	box-shadow: 0 10px 20px rgb(110, 110, 110,2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins',sans-serif;
}
.box-one button{
	display: flex;
	align-items: center;
	margin:5px;
	color: blue;


}
.box{
	width: 300px;
	height: 240px;
	flex-direction: column;
	justify-content: space-evenly;
}
.box button{
    width: 300px;
    height: 40px;
    background-color: greenyellow;
    outline: none;
    font-weight: bold;
    border: 2px solid red;
    justify-content: center;
    font-family: 'Poppins',sans-serif;
}
.box-one button span{
	display: block;
	width: 250px;
	text-align: left;
}
.box-one button img{
	margin: 0.5rem;
}
.box-one i{
	color: blueviolet;
	font-size: 1.8rem;
}
.box-two input{
	position: relative;
	width: 300px;
	height: 40px;
	outline: none;
	border: 2px solid green;
	border-radius: 2px;
	padding-left: 10px;
	margin-bottom: 10px;
	margin-left: 80px;
}
.box-two input label{
	position: absolute;
	top: 0;
}
.box-two input ::placeholder{
	font-size: 1rem;
}
.box-two input::focus{
	border: 2px solid red;
}
.container p{
	font-size: 1rem;
	color: red;
	margin-top: 10px;
}	
.container a{
	text-decoration: none;
	color: #5E33FF;
}
.regist{
	padding-top: -100px;
	margin-bottom: 90px;
	color: orange;
	font-weight: bold;
	font-style: italic;

}
.forget-btn{
	color: blue;
	font-size: 20px;
	border-radius: 5px;
	border-color: green;
	box-shadow: 5px;
	margin: 5px;
	margin-left: 180px;
}
.hello{
	color: red;
	font-size: 20px;
	border-radius: 5px;
	border-color: green;
	box-shadow: 5px;
	margin-left: 50px;
	margin-top: 5px;
}
























